
<div class="card" style="width: 22rem;">
    <div class="card-img-wrapper">
        <img class="card-img-top" src="assets/images/hp_pavilion.png">
        <ul class="list-inline text-center member-icons animate">
            <li class="list-inline-item">
                <button class="btn btn-primary" routerLink="/laptop-detail/{{laptop.Id}}"><i class="far fa-edit"></i></button>   
            </li>
            <li class="list-inline-item">
                <button class="btn btn-primary"><i class="fas fa-address-book"></i></button>
            </li>
        </ul>
    </div>
    <div class="card-body p-2">
        <h1>{{laptop.Name}}</h1>
        <h2>{{laptop.Type}}</h2>
        <h3>{{laptop.Price}}</h3>
        
    </div>
</div>
